doctype html PUBLIC "-//W3C//DTD XHTML Basic 1.1//EN"
head
	title Simple blog
body
	h1 Simple blog
	ul
		li
			a(href="/") Accueil
		li
			a(href="/articles") Articles
		li
			a(href="/new-article") Créer un nouvel article
		li
			a(href="/admin") Administration

	block content